<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lines</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
        });
    </script>

</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a href="/">Budget</a>
    </nav>
    <div class="container">
        <h1>Lines</h1>
    </div>
    <br/>
    <ul>
        {#for error in errors}
            <li>{error}</li>
        {/for}
    </ul>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="col-3" scope="row">Label</th>
                    <th class="col-2" scope="row">Amount</th>
                    <th class="col-2" scope="row">Type</th>
                    <th class="col-1" scope="row">Frequency</th>
                    <th class="col-1" scope="row">Begin</th>
                    <th class="col-2" scope="row">End</th>
                    <th class="col-1" scope="row"></th>
                </tr>
            </thead>
            <tbody>
            {#for line in lines}
            <tr>
                <td>{line.label}</td>
                <td>{line.amount}</td>
                <td>{line.type}</td>
                <td>{line.frequency}</td>
                <td>{line.beginPeriod.label}</td>
                <td>
                    {#if line.endPeriod ne null}
                        {line.endPeriod.label}
                    {/if}
                </td>
                <td>
                    <a href="/line/delete/{line.id}">Del</a>
                    <a href="/line/detail/{line.id}">Info</a>
                </td>
            </tr>
            {/for}
            </tbody>
        </table>
    </div>
    <br/>
    <div class="container">
        <h2>Add line</h2>
        <form action="/line/add" method="post">
            <div class="form-group">
                <label for="label">Label: </label>
                <input type="text" class="form-control" name="label" id="label" required/>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" required min="0" />
                </div>
                <div class="form-group col-6">
                    <label for="type">Type</label>
                    <select id="type" class="form-control" name="type">
                        <option value="d">Debit</option>
                        <option value="c">Credit</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="frequency">Frequency</label>
                    <input type="number" class="form-control" id="frequency" name="frequency" required min="1" />
                </div>
                <div class="form-group col-4">
                    <label for="beginPeriod">Begin Period</label>
                    <input type="date" class="form-control" id="beginPeriod" name="beginPeriod" required/>
                </div>
                <div class="form-group col-4">
                    <label for="endPeriod">End Period</label>
                    <input type="date" class="form-control" id="endPeriod" name="endPeriod" />
                </div>
            </div>
            <input type="submit" class="btn btn-primary" name="save" value="Save">
        </form>
    </div>
    <br/><br/><br/>
</body>
</html>